/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

/* base layout */
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
.header {
    grid-column: 1/-1;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
ul {
    list-style-type: none;
}
.navBar a {
    text-decoration: none;
    color: black;
    font-family: 'Karla';
    font-size: 15px;
    font-weight: 600;
}
    /* header layout */
    .logo {
        grid-column: 2/3;
        height: 100%;
        margin: auto;
    }
    .navBar {
        grid-column: 3/6;
        margin: auto;
    }
.main {
    grid-column: 1/-1;
    grid-row: 2/11;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
}
  .reserve {
    grid-column: 1/-1;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(100px, auto);
    position: relative;
    background: linear-gradient(to bottom, #495e57, #495e57 75%, white 75%, white 75%);
  }
    .reserveContainer1{
        grid-column: 2/4;
        width: 92%;
    }
    .reserveContainer2{
        grid-column: 4/6;
    }
    .reserve p {
        padding-top: 0;
        margin-top: 0;
        font-family: 'Karla';
        color: white;
    }
    .reserve h1 {
        color: #f4ce14;
        font-family: 'Karla';
        font-size: 45px;
        padding-top: 10px;
        margin: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .reserve h3 {
        color: white;
        font-family: 'Markazi Text', sans-serif;
        font-weight: 500;
        font-size: 25px;
        padding-top: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .reserve button {
        background-color: #f4ce14;
        border: none;
        color: #333333;
        text-align: center;
        font-size: 14px;
        padding: 12px 20px;
        border-radius: 16px;
        font-family: 'Karla';
        font-weight: 700;
    }
/* global container style */
.container {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 10px;
    position: relative;
    vertical-align: middle;
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

  /* speciasl style */
  .specials {
    grid-column: 2/6;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
    margin-top: -30px;
  }
    .specials h2 {
        font-family: 'Karla';
        font-size: 30px;
        margin-right: auto;
        margin-left: 20px;
        margin-top: 30px;
    }
    .specialsHeader {
        grid-column: 1/-1;
        grid-row: 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
        .buttonDiv {
            margin-right: 20px;
            margin-left: auto;
            margin-top: 37px;
            margin-bottom: 41px;
        }
        .menuButton {
            display: block;
            background-color: #f4ce14;
            border: none;
            color: #333333;
            text-align: center;
            font-size: 14px;
            padding: 15px 27px;
            border-radius: 16px;
            font-family: 'Karla';
            font-weight: 700;
        }
    /* specials card */
    .special1 {
        grid-column: 1;
        grid-row: 2/6;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: #edefee;
      }
        .special1 img {
        width: 100%;
        height: 45%;
        object-fit: cover;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        }
    .special2 {
        grid-column: 2;
        grid-row: 2/6;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: #edefee;
    }
        .special2 img {
            width: 100%;
            height: 45%;
            object-fit: cover;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }
    .special3 {
        grid-column: 3;
        grid-row: 2/6;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        background-color: #edefee;
    }
        .special3 img {
            width: 100%;
            height: 45%;
            object-fit: cover;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
        }
    .specialCard {
        position: relative;
    }
        .specialCard h6 {
            display: inline;
            padding: 10px;
            margin-top: 0;
            margin-right: 10px;
            float: right;
            font-family: 'Markazi Text', sans-serif;
            font-size: 18px;
            font-weight: 600;
            color: #ee9972;
        }
        .specialCard p {
            position: absolute;
            margin-top: 60px;
            margin-right: 35px;
            padding-left: 18px;
            padding-top: 10px;
            font-family: 'Karla';
            font-weight: 100;
            font-size: 15px;
            color: #495e57;
        }
    .specials h5 {
        padding: 18px;
        margin-top: 210px;
        font-family: 'Karla';
        color: #333333;
    }
        .specialCard h5 {
            display: inline;
            margin-left: 0px;
            margin-top: 0px;
            position: absolute;
            font-family: 'Markazi Text', sans-serif;
            font-size: 20px;
            font-weight: 600;
            padding-left: 18px;
            padding-top: 10px;
            color: #333333;
        }
  .reviews {
    grid-column: 1/-1;
    grid-row: 5/9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    /* margin-top: 50px; */
    grid-template-rows: repeat(4, 1fr);
    position: relative;
    /* background-color: rgba(251, 218, 187, .25); */
    padding: 10px;
    /* background-color: rgba(238, 153, 114, .25); */
    /* background-color: rgba(73, 94, 87, .25); */
    background-color: #f4ce14;
  }
    .reviewH {
        width: 100%;
        align-items: center;
        text-align: center;
        grid-row: 1;
        grid-column: 3/5;
        font-family: 'Karla';
        font-size: 20px;
        color: #333333;
    }
    .reviews img {
        height: 30%;
        width: 32%;
        margin-left: 18px;
        border-radius: 8px;
    }
    .reviews h5 {
        margin-top: 35px;
        margin-bottom: 5px;
        margin-left: 38px;
        font-weight: 200;
        font-family: 'Karla';
        font-size: 18px;
        padding: 0;
        color: #333333;
    }
    .reviews h6 {
        display: inline;
        padding: 10px;
        margin-top: 10px;
        position: absolute;
        font-family: 'Markazi Text', sans-serif;
        font-size: 15px;
        color: #495e57;
    }
    .reviews p {
        margin-top: 10px;
        margin-left: 18px;
        font-family: 'Karla';
        font-weight: 100;
        font-size: 12px;
        color: #495e57;
    }
    .review1 {
        grid-column: 2;
        grid-row: 2/4;
        background-color: rgba(237, 239, 238, .50);
    }
    .review2 {
        grid-column: 3;
        grid-row: 2/4;
        background-color: rgba(237, 239, 238, .50);
    }
    .review3 {
        grid-column: 4;
        grid-row: 2/4;
        background-color: rgba(237, 239, 238, .50);
    }
    .review4 {
        grid-column: 5;
        grid-row: 2/4;
        background-color: rgba(237, 239, 238, .50);
    }
  .about{
    grid-column: 2/6;
    grid-row: 9/13;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 100px;
    margin-top: 100px;
  }
    .aboutContainer1{
        grid-column: 1/2;
        padding: 18px;
        position:static;
        width: 88%;
    }
    .aboutContainer2{
        grid-column: 2/2;
        position:static;
    }
    .about p {
        padding-top: 0;
        margin-top: 0;
        font-family: 'Karla';
        color: #495e57;
        font-weight: 600;
    }
    .about h1 {
        color: #f4ce14;
        font-family: 'Karla';
        font-size: 45px;
        padding-top: 10px;
        margin: 0;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .about h3 {
        color: #495e57;
        font-family: 'Markazi Text', sans-serif;
        font-weight: 500;
        font-size: 25px;
        padding-top: 0;
        margin: 0;
        padding-bottom: 10px;
    }
    .aboutImage1 {
        width: 275px;
        height: 260px;
        position: absolute;
        margin-top: 115px;
        margin-left: -25px;
        border-radius: 16px;
    }
    .aboutImage2 {
        width: 275px;
        height: 260px;
        position: absolute;
        margin-top: -10px;
        margin-left: 175px;
        border-radius: 16px;
    }
    .about img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
  .footer {
    grid-column: 1/-1;
    grid-row: 11/13;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #495e57;
  }
    .footerImage {
        grid-column: 1/2;
        padding: 18px;
    }
    .footerContainer1 {
        grid-column: 2/3;
        color: #edefee;
        padding: 18px;
    }
    .footerContainer2 {
        grid-column: 3/4;
        color: #edefee;
        padding: 18px;
    }
    .footerContainer3 {
        grid-column: 4/4;
        color: #edefee;
        padding: 18px;
    }
    .footer img {
        width: 100px;
        height: 125px;
        margin-left: 50px;
        margin-top: 25px;
    }
    .footer h3 {
        font-family: 'Markazi Text', sans-serif;
        font-size: 25px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .footer ul {
        margin-top: 0px;
    }
    .footer li {
        font-family: 'Karla';
        margin-left: -20px;
        font-size: 15px;
        width: 75%;
    }