/* variables */
:root{
    --primary: #495e57;
    --secondary: #f4ce14;
    --tertiary: #333333;
    --quartern: #ee9972;
    --quinary: #edefee;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset  */
html, body {
    height: 100%;
    min-width:300px;
    padding-bottom:0;  
    background: var(--primary);
}
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    overflow-x: hidden;
}
li {
    list-style-type: none;
}

/* base styles  */
body {
    background: white;
    font-family: 'Markazi';
}
.button{
    background: var(--secondary);
    color: var(--tertiary);
    border: #f4ce14;
    padding: 8px 12px;
    border-radius: 6px;
    display: inline-block;
    font-family: 'Karla';
    font-size: .6em;
    font-weight: 600;
    cursor: pointer;
}

/* fonts  */
@font-face {
    font-family: 'Markazi';
    src: url(../assets/fonts/Markazi_Text/MarkaziText.ttf);
}
h1, h2, h3, h4 {
    color: var(--quinary);
    font-weight: normal;
}
a, li{
    color: var(--primary);
    font-size: .8em;
}
p{
    color: var(--quinary);
}
h1, h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.1em;
}
.leading {
    font-size: 1.1em;
}
/* mobile styles */
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
}