footer{
    background: var(--primary);
    padding: 20px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
}
footer h4{
    font-size: 1.2em;
    margin: 0 auto;
    font-weight: 600;
}
footer li{
    font-size: .8em;
    color: var(--quinary);
    list-style-type: none;
}
.contact-info{
    grid-column: 3/span 4;
}
.social-media{
    grid-column: 7/span 4;
}
footer a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 20px;
    overflow-x: hidden;
}
/* large tablets and laptops  */
@media screen and (min-width: 900px){
    footer h4{
        font-size: 1em;
    }
    footer li{
        font-size: .8em;
    }
    .contact-info{
        grid-column: 6/span 2;
    }
    .social-media{
        grid-column: 8/span 2;
    }

}

/* desktop styles  */
@media screen and (min-width: 1120px){
    .contact-info{
        grid-column: 2/3;
    }
    .social-media{
        grid-column: 3/4;
    }

}