#reviews{
    padding: 30px 20px;
    background: var(--secondary);
}
#reviews h2{
    text-align: center;
    color: var(--tertiary);
}
.reviews article {
    grid-column: span 8;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background: rgba(237, 239, 238, .3);
}
.reviews article * {
    margin: 5px auto;
    max-width: 80%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.reviews h3{
    color: var(--tertiary);
    font-size: .8em;
    font-family: 'Karla';
    font-weight: 500;
}
.reviews p{
    font-family: 'Karla';
    font-size: .6em;
    color: var(--primary);
}
.reviews img {
    object-fit: cover;
    width: 80px;
    height: 90px;
    border-radius: 4px;
}
/* small tablet styles  */
@media screen and (min-width: 460px){
    .reviews article {
        grid-column: span 4;
        width: 70%;
    } 
}
@media screen and (min-width: 620px){
    .reviews article {
        grid-column-start: span 3 2;
        width: 150px;
        padding: 10px;
    }
    .reviews h3{
        font-size: .6em;
        max-width: 100px;
    }
    .reviews p{
        max-width: 100%;
        font-size: .5em;
    }
}

/* large tablets and laptops  */
@media screen and (min-width: 900px){
    .reviews{
        margin: 0 10%;
    }
    .reviews article {
        grid-column-start: span 2;
    }
    .reviews h3{
        font-size: .5em;
    }
    .reviews p{
        font-size: .4em;
    }
}

/* desktop styles  */
@media screen and (min-width: 1050px){
    .reviews{
        margin: 0 18%;
    }
    .reviews article * {
        max-width: 90%;
    }
}